# Ignore database
# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore virtual environments
env/
venv/

# Editor settings
.vscode/
.idea/

# Ignore static and media runtime folders
/*.log
*.pid

